<div>
  <h2>
    Lista de Empleados
  </h2>

  <a mat-button (click)="openRegEmployee()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
  <button mat-fab color="primary">Nuevo</button>
  <form novalidate [formGroup]="user" (ngSubmit)="onSubmit()">
    <label>
      <span>Full name</span>
      <input
        type="text"
        placeholder="Your full name"
        formControlName="name">
    </label>
    <label>
      <span>Email address</span>
      <input
        type="password"
        placeholder="Your passwornd"
        formControlName="password">
    </label>
    <label>
      <span>Confirm address</span>
      <input
        type="password"
        placeholder="Confirm your password"
        formControlName="passwordRepeat">
    </label>
    <button type="submit">Sign up</button>
  </form>
  <div>

    <mat-list dense>
      <mat-list-item *ngFor="let employee of employees">
        <img matListAvatar [src]="employee.image" alt="{{employee.name}}">
        <span matLine>{{employee.name}}</span>
        <span matLine>{{employee.jobPosition}}</span>
        <span matLine>{{employee.jobDescription}}</span>

        <button mat-raised-button color="accent">Editar</button>
        <button mat-raised-button color="warn">Eliminar</button>

      </mat-list-item>
    </mat-list>

    <app-date-table></app-date-table>





  </div>
</div>
