<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>About Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Quienes Somos!!!</h2>
        <p>SSIngeniera SA, somos una empresa constructora que ofrece todo tipo de servicios relacionados al area de construccion civil,.</p>
        <p>La empresa comenzo hace 10 años <em> CBA</em>, Nuestra empresa esta basada en 2 pilares fundamentales; compromiso y calidad.</p>
      </div>
      <!--<div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Started</dt>
              <dd>1 Jan. 2013</dd>
              <dt>Major Stake Holder</dt>
              <dd>Jatun SRL.</dd>
              <dt>Last Year's Turnover</dt>
              <dd>$2,478,220</dd>
              <dt>Employees</dt>
              <dd>240</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>-->

  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>LA CREATIVIDAD ES LA INTELIGENCIA DIVIRTIENDOSE!!!!.</h3>
        <footer>-- Carlos Gomez,
          <cite>The Wisdom of Carlos Gomez,
            Diversion Books, 2014</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>


      <!--<div fxFlex>
        <h2> Organigrama </h2>
        <mat-list dense>
          <mat-list-item *ngFor="let organigrama of erganigramas">
            <img matListAvatar [src]="organigramaE.image" alt="{{employee.name}}">
            <span matLine>{{employee.name}}</span>
            <span matLine>{{employee.jobPosition}}</span>
            <span matLine>{{employee.jobDescription}}</span>
          </mat-list-item>
        </mat-list>-->

      </div>
    </div>
